@charset "UTF-8";
body{

font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
}
header{
text-align: center;
}

section{
background-color: white;
padding: 10px;
border-radius: 10px;
margin: auto;
width: 500px;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.452)
}
div{text-align: center;padding: 10px;}

#imagem{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}

footer{
text-align: center;
font-style: italic;
}
